# 
#  ____             __ _ _      
# |  _ \ _ __ ___  / _(_) | ___ 
# | |_) | '__/ _ \| |_| | |/ _ \
# |  __/| | | (_) |  _| | |  __/
# |_|   |_|  \___/|_| |_|_|\___|
#                               
# 

alias cm='cd "${MAIN_DIR}"'
alias smp='source "${MAIN_PROFILE}"'
alias v='vim'
alias vmp='vim "${MAIN_PROFILE}" && smp'
alias vma='vim "${MAIN_ALIASES}" && smp'
alias vmf='vim "${MAIN_FUNCTIONS}" && smp'
alias vmg='vim "${MAIN_DIR}/.gitignore"'
alias vvp='vim "${HOME}/.vim_runtime/my_configs.vim"'

# 
#  ____            _                                                      _     
# | __ )  __ _ ___(_) ___    ___ ___  _ __ ___  _ __ ___   __ _ _ __   __| |___ 
# |  _ \ / _` / __| |/ __|  / __/ _ \| '_ ` _ \| '_ ` _ \ / _` | '_ \ / _` / __|
# | |_) | (_| \__ \ | (__  | (_| (_) | | | | | | | | | | | (_| | | | | (_| \__ \
# |____/ \__,_|___/_|\___|  \___\___/|_| |_| |_|_| |_| |_|\__,_|_| |_|\__,_|___/
#                                                                               
# 

alias flushPwd='rm -rf ./*'

# 
#  ____                 _                                  _   
# |  _ \  _____   _____| | ___  _ __  _ __ ___   ___ _ __ | |_ 
# | | | |/ _ \ \ / / _ \ |/ _ \| '_ \| '_ ` _ \ / _ \ '_ \| __|
# | |_| |  __/\ V /  __/ | (_) | |_) | | | | | |  __/ | | | |_ 
# |____/ \___| \_/ \___|_|\___/| .__/|_| |_| |_|\___|_| |_|\__|
#                               |_|                             
# 

alias d.downloadReadmeTemplate='wget "${README_TEMPLATE}"'
alias d.cr='cd "${REPOSITORIES}"'

# 
#  ____        _       
# |  _ \  __ _| |_ ___ 
# | | | |/ _` | __/ _ \
# | |_| | (_| | ||  __/
# |____/ \__,_|\__\___|
#                      
# 

alias date.Ymd='date +%Y%m%d'
alias date.Y_m_d='date +%Y-%m-%d'
alias date.H_M_S='date +%H:%M:%S'
alias date.H_M='date +%H:%M'

# 
#  _____          _       _   _____                              _             
# |  ___|_ _  ___(_) __ _| | | ____|_  ___ __  _ __ ___  ___ ___(_) ___  _ __  
# | |_ / _` |/ __| |/ _` | | |  _| \ \/ / '_ \| '__/ _ \/ __/ __| |/ _ \| '_ \ 
# |  _| (_| | (__| | (_| | | | |___ >  <| |_) | | |  __/\__ \__ \ | (_) | | | |
# |_|  \__,_|\___|_|\__,_|_| |_____/_/\_\ .__/|_|  \___||___/___/_|\___/|_| |_|
#                                       |_|                                    
# 

alias φrobot='cat "${ASCII_ART_DIR}/robot-face.asciiart"'
alias φsmile='cat "${ASCII_ART_DIR}/smile-with-tongue.asciiart"'

alias φterminator='jp2a "${FACIAL_EXPRESSION}/terminator01-neutral.jpg"'
alias φterminator.neutral='jp2a "${FACIAL_EXPRESSION}/terminator01-neutral.jpg"'

alias φwoman01='jp2a "${FACIAL_EXPRESSION}/woman01-neutral.jpg"'
alias φwoman01.neutral='jp2a "${FACIAL_EXPRESSION}/woman01-neutral.jpg"'
alias φwoman01.anger='jp2a "${FACIAL_EXPRESSION}/woman01-anger.jpg"'
alias φwoman01.happy='jp2a "${FACIAL_EXPRESSION}/woman01-happy.jpg"'
alias φwoman01.sad='jp2a "${FACIAL_EXPRESSION}/woman01-sad.jpg"'

alias φwoman02='jp2a "${FACIAL_EXPRESSION}/woman02-neutral.jpg"'
alias φwoman02.neutral='jp2a "${FACIAL_EXPRESSION}/woman02-neutral.jpg"'
alias φwoman02.anger='jp2a "${FACIAL_EXPRESSION}/woman02-anger.jpg"'
alias φwoman02.happy='jp2a "${FACIAL_EXPRESSION}/woman02-happy.jpg"'
alias φwoman02.sad='jp2a "${FACIAL_EXPRESSION}/woman02-sad.jpg"'

# 
#  ____                       _     
# / ___| _ __   ___  ___  ___| |__  
# \___ \| '_ \ / _ \/ _ \/ __| '_ \ 
#  ___) | |_) |  __/  __/ (__| | | |
# |____/| .__/ \___|\___|\___|_| |_|
#       |_|                         
# 

alias σfortune='φwoman02 && ξfr "$(fortune -s | sed "s/-+-/. /g; s/--/. /g")"'
alias σlire='φwoman02 && ξfr'
alias σlireCSV='φwoman02 && ξfr.CSV'
alias σread='φwoman01 && ξen'
alias σtcidu='φrobot && ξjbo'

# 
#  ____                       _             
# / ___|  ___  _   _ _ __ ___(_)_ __   __ _ 
# \___ \ / _ \| | | | '__/ __| | '_ \ / _` |
#  ___) | (_) | |_| | | | (__| | | | | (_| |
# |____/ \___/ \__,_|_|  \___|_|_| |_|\__, |
#                                     |___/ 
#      _                           _                 _           
#   __| | ___ _ __   ___ _ __   __| | ___ _ __   ___(_) ___  ___ 
#  / _` |/ _ \ '_ \ / _ \ '_ \ / _` |/ _ \ '_ \ / __| |/ _ \/ __|
# | (_| |  __/ |_) |  __/ | | | (_| |  __/ | | | (__| |  __/\__ \
#  \__,_|\___| .__/ \___|_| |_|\__,_|\___|_| |_|\___|_|\___||___/
#            |_|                                                 
# 

source "${MAIN_DIR}/.diary${ALIASES}"
