# chiffre un fichier du journal
diary.cipher(){
    openssl enc -e -aes-256-cbc -in "${1}" -out "${1}.lock" -pass "pass:${DIARY_KEY}"
    rm "${1}"
}

# déchiffre un fichier du journal
diary.decipher(){
    if [ -f "${1}.lock" ]
    then
        openssl enc -d -aes-256-cbc -in "${1}.lock" -out "${1}" -pass "pass:${DIARY_KEY}"
    fi
    # TODO: le fichier n existe pas
}

# récupère le nom du journal du jour
diary.get_today_path(){
    echo "${DIARY_DIR}/$(date.Ymd)"
}

# affiche un journal
diary.display(){
    file="${1:?}"
    diary.decipher "${1}"
    cat "${1}"
    diary.cipher "${1}"
}

# Ajoute une nouvelle ligne dans le journal du jour
diary.new(){
    today="$(diary.get_today_path)"
    diary.decipher "${today}"
    echo "$(date.H_M_S);${1};${2}" >> "${today}"
    cat "${today}"
    diary.cipher "${today}"
}

# Affiche le journal du jour
diary.today(){
    today="${DIARY_DIR}/$(date.Ymd)"
    diary.display "${today}" 
}
