

# 
#  _____         _     ____    ____                       _     
# |_   _|____  _| |_  |___ \  / ___| _ __   ___  ___  ___| |__  
#   | |/ _ \ \/ / __|   __) | \___ \| '_ \ / _ \/ _ \/ __| '_ \ 
#   | |  __/>  <| |_   / __/   ___) | |_) |  __/  __/ (__| | | |
#   |_|\___/_/\_\\__| |_____| |____/| .__/ \___|\___|\___|_| |_|
#                                   |_|                         
# 

lire(){
  text="${1?"pas de texte en entrée"}"
  speach="$(mktemp /tmp/output.XXXXXXXXXX).wav" 1>&- 2>&-
  pico2wave -w "${speach}" -l fr-FR "${text}" 1>&- 2>&-
  play "${speach}" 1>&- 2>&-
  rm "${speach}" 
}

lireDonnéesCSV(){
  csv="${1:?"pas de texte en entrée"}"
  lire "$("${csv}" | sed "s/$/;/; s/;/;. /g" | column -s ";" -t)"
}
tcidu(){
  text="${1?"pas de texte en entrée"}"
  speach="$(mktemp /tmp/output.XXXXXXXXXX).wav" 1>&- 2>&-
  #pico2wave -w "${speach}" -l fr-FR "${text}" 1>&- 2>&-
  espeak -v jbo "${text}" -w "${speach}"
  play "${speach}" 1>&- 2>&-
  rm "${speach}" 
}


# 
#  ____                       _             
# / ___|  ___  _   _ _ __ ___(_)_ __   __ _ 
# \___ \ / _ \| | | | '__/ __| | '_ \ / _` |
#  ___) | (_) | |_| | | | (__| | | | | (_| |
# |____/ \___/ \__,_|_|  \___|_|_| |_|\__, |
#                                     |___/ 
#      _                           _                 _           
#   __| | ___ _ __   ___ _ __   __| | ___ _ __   ___(_) ___  ___ 
#  / _` |/ _ \ '_ \ / _ \ '_ \ / _` |/ _ \ '_ \ / __| |/ _ \/ __|
# | (_| |  __/ |_) |  __/ | | | (_| |  __/ | | | (__| |  __/\__ \
#  \__,_|\___| .__/ \___|_| |_|\__,_|\___|_| |_|\___|_|\___||___/
#            |_|                                                 
# 
source "${MEGA}/.diary${FUNCTIONS}"
